{
  "env": {
    "node": true,
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "next",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "prettier"],
  "rules": {
    "arrow-body-style": "off",
    "import/first": "error",
    "linebreak-style": ["error", "unix"],
    "prefer-arrow-callback": "off",
    "prettier/prettier": "error",
    "react/display-name": "off",
    "react/prop-types": 0
  }
}
